body{
    background-color: black;
}

section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:150px;
    padding-bottom:150px;
}

section h1{
    color:gold;
    font-size:3rem;
    font-family: var(--font);
}

section h3{
    color:#fff;
    font-size:1rem;
    font-family:var(--font1);
    padding-bottom:50px;
}

.gallery{
    display:grid;
    width:80%;
    margin:0 auto;
    grid-gap:10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows:300px;
    grid-auto-flow:dense;
}

.picture{
    display:flex;
    justify-content: center;
    align-items: center;

}

.gallery img{
    width:100%;
    height:100%;
    vertical-align: middle;
    display:inline-block;
    object-fit: cover;
    border-radius:5px;
}

.tall{
    grid-row:span 2;
}

.wide{
    grid-column:span 2;
}

@media only screen and (max-width:600px){
    .gallery{
        width:100%;
        padding:0 10px;
    }

    .wide{
        grid-column:span 1;
    }
}