/*HEADER*/
#header{
    display:flex;
    justify-content:start;
    width:100%;
    height:100px;
    background-color: rgb(2,2,2);
    padding-left:50px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:9;
}

#header img{
    width:100px;
    height:auto;
}

:is(.menu, .submenu){
    color:white;
    font-family: var(--font);
    list-style:none;
}

.menu{
    padding-top:35px;
    margin-left:450px;
}

.menu a{
    text-decoration: none;
    color:#fff;
}

.menu li{
    display:inline-block;
    position:relative;
}

.menu > li > a{
    transition:color 300ms;
}

.menu > li > a:hover{
    color:gold;
}

.menu i{
    padding-left:5px;
}

.menu li:nth-child(2){
    cursor:pointer;
}

.sm-hover i{
    transition:transform 300ms;
    padding-left:5px;
}

.sm-hover:hover > .submenu{
    display:flex;
    flex-direction: column;
}

.sm-hover:hover i{
    transform:translateX(5px) rotateZ(-180deg);
}

.menu > li{
    padding:0 35px;
    font-size:1.4rem;

}

.submenu{
    position:absolute;
    font-size:1.25rem;
    width:300px;
    left:-50px;
    padding-top:35px;
    background-color: rgb(2,2,2);
    display:none;
    border-bottom:1px solid gray;
}

.submenu li:nth-child(1){
    border-top:none;
}

.submenu li:nth-last-child(1){
    border-bottom:1px solid gray;
}

.submenu li{
    font-size:1.1rem;
    padding:5px;
    text-align:center;
    border-top:1px solid gray;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    transition: background-color 100ms;
}

.submenu li:hover{
    background-color:#fff;
    border-left:1px solid gray;
    border-right:1px solid gray;
}

.submenu li a{
    transition:color 300ms;
}

.submenu li:hover a{
    color:black;
}

#check{
	display: none;
}

.checkbtn{
    font-size:32px;
	padding-top:35px;
	color: #fff;
	cursor: pointer;
	display: none;
}

/*FOOTER*/
#footer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
    height:auto;
    color:#fff;
    font-family:var(--font);
    padding:0px 100px;
    background-color: rgb(2,2,2);
}

#footer img{
    width:300px;
    height:auto;
}

.footer-info{
    height:200px;
    overflow:hidden;
}

.footer-info h3{
    padding-bottom:20px;
}

.footer-info h4 a{
    color:rgb(153, 153, 153);
    text-decoration: none;
    position:relative;
    transition:color 300ms;
    overflow:hidden;
}

.footer-info h4 a::after{
    content:'';
    background-color: gold;
    height:2px;
    width:100%;
    position:absolute;
    bottom:0;
    left:-315px;
    transition:left 300ms;
}

.footer-info h4 a:hover{
    color:white;
}

.footer-info h4 a:hover::after{
    left:0px;
}

.footer-info i{
    font-size:1.5rem;
    z-index:5;
}

.footer-icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    border:1px solid rgb(153,153,153);
}

:is(.fb, .tw, .ig){
    position:relative;
    transition:color 500ms;
    overflow:hidden;
}

.fb{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.ig{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.fb::before{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    bottom:-50px;
    left:0;
    background-color: #fff;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    transition:bottom 200ms;
}

.tw::before{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    bottom:-50px;
    left:0;
    background-color: #fff;
    transition:bottom 200ms;
}

.ig::before{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    bottom:-50px;
    left:0;
    background-color: #fff;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    transition:bottom 200ms;
}

.fb:hover::before{
    bottom:0px;
}

.tw:hover::before{
    bottom:0px;
}

.ig:hover::before{
    bottom:0px;
}

.fb:hover{
    color:black;
}

.tw:hover{
    color:black;
}

.ig:hover{
    color:black;
}

/*MEDIA QUERIES*/
@media only screen and (min-width:320px){
    #footer{
        display:grid;
        height:auto;
        padding:20px 20px;
        justify-content: unset;
        align-items: unset;
        place-content:center;
        grid-template-columns:repeat(1, 320px);
    }

    #footer img{
        width:300px;
    }

    .footer-info{
        height:auto;
        margin-bottom:20px;
    }

    .footer-info h3{
        font-size:0.85rem;
    }
    
    .footer-info h4 a{
        font-size:0.6rem;
    }

    .footer-info h3{
        padding-bottom:5px;
    }
}

@media only screen and (min-width:424px){
    #footer{
        display:grid;
        height:auto;
        padding:20px 20px;
        justify-content: unset;
        align-items: unset;
        place-content:center;
        gap:20px;
        grid-template-columns:200px 200px;
        grid-auto-rows:auto;
    }

    #footer img{
        width:150px;
    }

    .footer-info h3{
        font-size:1rem;
    }
    
    .footer-info h4 a{
        font-size:0.75rem;
    }
}

@media only screen and (min-width:600px){
    #footer{
        display:grid;
        height:auto;
        padding:20px 0px;
        justify-content: unset;
        align-items: unset;
        place-content:center;
        gap:20px;
        grid-template-columns:200px 200px;
        grid-auto-rows:auto;
    }

    #footer > a{
        grid-row-start:1;
        grid-row-end:2;
    }

    #footer img{
        width:200px;
    }

    .footer-info:nth-child(4){
        grid-column-start:2;
    }

    .footer-info h3{
        font-size:1rem;
    }
    
    .footer-info h4 a{
        font-size:0.75rem;
    }

}

@media only screen and (min-width:768px){
    #footer{
        display:grid;
        height:auto;
        padding:20px 50px;
        justify-content: unset;
        align-items: unset;
        place-content:center;
        gap:20px;
        grid-template-columns:300px 300px;
        grid-auto-rows:auto;
    }

    #footer > a{
        place-content: center;
        grid-row-start:1;
        grid-row-end:2;
    }

    .footer-info:nth-child(4){
        grid-column-start:2;
    }

    #footer img{
        width:200px;
    }

    .footer-info h3{
        font-size:unset;
    }
    
    .footer-info h4 a{
        font-size:unset;
    }

    .footer-info{
        height:auto;
    }
}

@media only screen and (min-width:992px){
    #footer{
        grid-template-columns:repeat(3, 320px);
        place-items:unset;
        text-align: unset;
        column-gap:0px;
        place-content:center;
    }

    #footer > a{
        place-content: center;
        grid-row-start:1;
        grid-row-end:3;
    }

    #footer img{
        width:300px;
    }
}

@media only screen and (max-width:1024px){
    #header{
        justify-content:space-between;
        padding-left:50px;
        padding-right:50px;
    }
    .checkbtn{
        display:block;
    }

    .menu{
        display:flex;
        position:absolute;
        flex-direction: column;
        justify-content: center;
        padding-bottom:200px;
        align-items: center;
        height:100dvh;
        width:100%;
        background-color:black;
        top: 100px;
        left:-120%;
        position:fixed;
        transition: 500ms all;
    }

    .menu > li{
        text-align:center;
        padding-bottom:30px;
    }

    .menu > li > a{
        color:gold;
    }

    #check:checked ~ .menu{
		left: 0%;
	}

    .usluge{
        padding:10px;
        border:5px ridge gold;
        border-radius:50%;
    }

    .submenu{
        display:flex;
        position:unset;
        flex-direction: column;
        padding:0;
        padding-top:15px;
        border:none;
        min-width:320px;
        max-width:700px;
    }

    .submenu li{
        border:none;
        text-decoration:underline 2px solid gold;
    }

    .submenu li:nth-last-child(1){
        border-bottom:none;
    }
}

@media only screen and (max-width:1095px){
    .menu{
        margin-left:0px;
    }
}

@media only screen and (min-width:1095px){
    .menu{
        margin-left:150px;
    }
}

@media only screen and (min-width:1330px){
    #footer{
        display:flex;
        justify-content:space-between;
        align-items: unset;
        text-align: unset;
        width:100%;
        height:350px;
        color:#fff;
        font-family:var(--font);
        background-color: rgb(2,2,2);
    }

    #footer > a{
        place-content: center;
        grid-row-start:1;
        grid-row-end:3;
    }

    .footer-info:nth-child(4){
        grid-column-start:2;
    }

    .footer-info{
        padding-top:60px;
    }
}

@media only screen and (min-width:1344px){
    .menu{
        margin-left:300px;
    }
}

@media only screen and (min-width:1450px){
    .menu{
        margin-left:400px;
    }
}