body{
    background: black;
}

main{
    width:100%;
    margin:20px 0;
    padding-top:100px;
}

main > h1{
    color:gold;
    font-family: var(--font1);
    text-align: center;
    margin-bottom:30px;
}

main > div{
    display:flex;
    width:80%;
    margin:0 auto;
}

.contact{
    display:flex;
    flex-direction: column;
    flex-basis:50%;
    padding:20px 50px;
    color:white;
}

.support{
    background-color: rgb(5, 5, 5);
    flex-basis:50%;
    padding:20px 50px;
    color:white;
}

:is(.contact span, .support span){
    color:gold;
}

:is(.contact h2, .support h2){
    color:gold;
    font-size:2.5rem;
    margin:5px 0;
    font-family: var(--font);
}

:is(.contact h3, .support h3){
    font-size:1.5rem;
    font-family:var(--font);
    margin:10px 0;
    color:rgb(180, 180, 180);
}

:is(.contact h4, .support h4){
    font-size:1.1rem;
    font-family:var(--font1);
}

:is(.contact hr, .support hr){
    border:none;
    width:500px;
    height:3px;
    background-color: rgb(120, 120, 120);
    margin:30px 0;
}

.support h2{
    font-size:2.3rem;
    margin-bottom:30px;
}

.support h3{
    font-size:1.3rem;
}

:is(.support input, .support textarea){
    outline:none;
    border:none;
    padding:15px 25px;
    font-family: var(--font1);
    transition: background-color 200ms, border 200ms;
    width:100%;
    min-width:350px;
    max-width:70%;
    margin-bottom:15px;
    border:1px solid transparent;
}

.support button{
    cursor:pointer;
    border:none;
    outline:none;
    padding:15px 25px;
    background-color:rgb(15,15,15);
    color:gold;
    font-family: var(--font);
    font-size:1.25rem;
    width:100%;
    min-width:350px;
    max-width:50%;
    margin:20px 0;
    border-bottom:1px solid transparent;
    transition: max-width 400ms, border-bottom 400ms, transform 200ms;
}

.support input:focus-within{
    border:1px solid gold;
    background-color:rgb(25,25,25);
    color:white;
}

.support textarea:focus-within{
    border:1px solid gold;
    background-color:rgb(25,25,25);
    color:white;
}

.support button:hover{
    max-width:70%;
    border-bottom:1px solid gold;
    transform: scale(1.05);
}

@media only screen and (max-width:600px){
    main > div{
        flex-direction: column;
        padding:0 5px;
        width:100%;
    }

    .contact{
        order:2;
    }

    .contact h2{
        font-size:2rem;
    }

    .contact hr{
        width: 90%;
    }

    .support{
        display:flex;
        flex-direction: column;
        margin:0 10px;
        align-items: center;
        text-align: center;
    }

    :is(.support input, .support textarea, .support button){
        min-width:270px;
    }
}

@media only screen and (min-width:600px){
    main > div{
        flex-direction: column;
        width:80%;
        padding:0;
    }

    .contact{
        order:2;
    }

    .contact h2{
        font-size:2rem;
    }

    .contact hr{
        width: 100%;
    }

    .support{
        display:flex;
        flex-direction: column;
        margin:0px;
        align-items: center;
        text-align: center;
    }

    :is(.support input, .support textarea, .support button){
        min-width:350px;
    }
}

@media only screen and (min-width:768px){
    .contact h2{
        font-size:2.5rem;
    }
}

@media only screen and (min-width:992px){
    main > div {
        flex-direction: row;
        margin:0 15px;
    }

    .contact hr{
        width:500px;
    }

    .contact{
        padding:20px 30px;
        order:1;
    }

    .support{
        align-items: flex-start;
        text-align: left;
        padding:20px 20px;
        order:2;
    }
}

@media only screen and (min-width:1100px){
    main > div {
        margin:0 auto;
    }
}

@media only screen and (min-width:1200px){
    .contact{
        padding:20px 50px;
    }

    .support{
        padding:20px 50px;
    }
}