.intro h1{
    font-size: clamp(3.4rem, 10vw, 12rem);
}


.intro h1:after{
    content:'PRANJE';
    font-size: clamp(1.7rem, 5vw, 6rem);
}

.intro-pic{
    position: relative;
    background-image:url('../pictures/carpet.png');
    background-size:contain;
    background-position: center;
    background-repeat:no-repeat;
    transition:background-image 2000ms 1500ms, opacity 2000ms;
    overflow:hidden;
}

.lines{
    position: absolute;
    left:-10px;
    bottom:-170px;
    width:600px;
    z-index:2;
    transition: transform 4s;
    animation:Cleaning 2.5s forwards 1500ms;
}

@keyframes Cleaning{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-417px) scale(1);
    }
    100%{
        transform: translateY(-167px) scale(0.8);
    }
}

@media only screen and (max-width:600px){
    .intro-pic{
        aspect-ratio:17/6;
        object-fit:cover;
        width:100%;
        height:auto;
    }

    .lines{
        aspect-ratio:17/6;
        object-fit:cover;
        width:100%;
        height:auto;
    }
}

@media only screen and (min-width:600px){
    .intro-pic{
        width:600px;
        height:211.47px;
    }

    .lines{
        width:600px;
    }
}