body{
    background-color:black;
}

.intro{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:750px;
    position: relative;
    overflow:hidden;
    margin-bottom:160px;
    margin-top:30px;
}

.intro-pic{
    transform:translateY(35px);
}

.intro h1{
    color:rgb(30,30,30);
    font-family: var(--font);
    position: relative;
    z-index:1;
}

.intro h1:after{
    content:'';
    color:gold;
    width:100%;
    position: absolute;
    top:50%;
    left:0;
    transform: translate(30%, 50%);
    text-shadow:0px 0px 15px black;
}

.about{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:80%;
    margin:150px auto;
}

.about > h1{
    color:gold;
    font-size:3rem;
    font-family: var(--font);
    margin:50px 0;
}

.about > h1 span{
    color:#fff;
}

.about > div > h1 span{
    color:#fff;
}

.about > div{
    gap:50px;
    position: relative;
}

.about > div > div p {
    color:#fff;
    font-family: var(--font1);
    font-size:1.2rem;
    max-width:45ch;
    padding-left:5px;
}

.about span{
    color:gold;
}

.about-pics{
    gap:50px;
}

.about-pics img{
    width:500px;
    height:auto;
}

.price{
    color:gold;
    font-size:3rem;
    font-family: var(--font);
    padding-right:15px; 
    padding-bottom:15px;
    border-bottom:3px solid gold; 
    border-top:3px solid gold;
    text-align: center;
}

@media only screen and (max-width:600px){

    .about > h1{
        text-align: center;
    }

    .about-pics{
        display:grid;
        grid-template-columns: repeat(1, 320px);
    }

    .about-pics img{
        place-self:center;
        width:320px;
    }
}

@media only screen and (min-width:768px){
    .about-pics{
        display:grid;
        grid-template-columns: repeat(1, 400px);
    }

    .about-pics img{
        place-self:center;
        width:400px;
    }
}

@media only screen and (min-width:992px){
    .about-pics img{
        place-self:center;
        width:400px;
    }

    .about-pics{
        display:grid;
        grid-template-columns: repeat(2, 400px);
    }
}

@media only screen and (max-width:1054px){
    .about > div{
        align-items: center;
        flex-direction: column;
    }

    .about p{
        max-width:50ch;
    }
}

@media only screen and (min-width:1054px){
    .about-pics{
        display:flex;
    }

    .price{
        align-self:flex-start;
        position: absolute;
        bottom:-120px;
        left:0;
    }
}

@media only screen and (min-width:1200px){
    .intro-pic{
        transform:translateY(55px);
    }
}