.intro h1{
    font-size: clamp(3rem, 10vw, 12rem);
}

.intro h1:after{
    content:'VOZILA';
    font-size: clamp(1.7rem, 5vw, 6rem);
    transform: translate(35%, 50%);
}

.car{
    position: relative;
    animation:Moving 2s forwards;
    padding-top:50px;
}

.car-body{
    width:600px;
    height:auto;
}

.wheels{
    width:600px;
    height:211.75px;
    position: absolute;
    top:3px;
    margin-top:50px;
}

.left-wheel{
    width:90px;
    height:auto;
    position: absolute;
    left:0;
    bottom:15px;
    animation: Wheel 2s forwards;
}

.right-wheel{
    width:90px;
    height:auto;
    position: absolute;
    right:0;
    bottom:15px;
    animation: Wheel 2s forwards;
}

@keyframes Moving{
    0%{
        transform:translateY(-2px);
        opacity:0.5;
    }

    22%{
        transform:translateY(0px);
        opacity:0.5;
    }

    44%{
        transform:translateY(-2px);
        opacity:0.5;
    }

    66%{
        transform:translateY(0px);
        opacity:0.5;
    }

    88%{
        transform:translateY(-2px);
        opacity:0.5;
    }

    100%{
        transform:translateY(0px);
    }
}

@keyframes Wheel{
    0%{
        transform:rotateZ(0deg);
    }
    100%{
        transform:rotateZ(-2520deg);
    }
}

@media only screen and (max-width:600px){
    .car-body{
        width:320px;
    }

    .wheels{
        width:320px;
        height:112.94px;
    }

    .left-wheel{
        width:46px;
        left:30px;
        bottom:10px;
    }

    .right-wheel{
        width:46px;
        right:45px;
        bottom:10px;
    }
}

@media only screen and (min-width:600px){
    .car-body{
        width:400px;
    }

    .wheels{
        width:400px;
        height:141.17px;
    }

    .left-wheel{
        width:55px;
        left:37px;
        bottom:15px;
    }

    .right-wheel{
        width:55px;
        right:58px;
        bottom:15px;
    }
}

@media only screen and (min-width:768px){
    .car-body{
        width:500px;
    }

    .wheels{
        width:500px;
        height:176px;
    }

    .left-wheel{
        width:70px;
        left:44px;
        bottom:15px;
    }

    .right-wheel{
        width:70px;
        right:72px;
        bottom:15px;
    }
}

@media only screen and (min-width:992px){
    .wheels{
        width:500px;
        height:176px;
    }

    .left-wheel{
        width:70px;
        left:44px;
        bottom:15px;
    }

    .right-wheel{
        width:70px;
        right:72px;
        bottom:15px;
    }
}

@media only screen and (min-width:1200px){
    .car-body{
        width:600px;
    }

    .wheels{
        width:600px;
        height:211.75px;
    }

    .left-wheel{
        width:90px;
        left:52px;
        bottom:15px;
    }

    .right-wheel{
        width:90px;
        right:83px;
        bottom:15px;
    }
}